<nav class="navbar navbar-dark bg-dark mt-5 " style="border-top-right-radius: 5px;border-top-left-radius: 5px;">
    <div class="navbar-expand m-auto navbar-text">
      Developper par <a href="#">Stephane derteuffel</a>
    </div>
      <a class="nav-item nav-link" href="#" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="#" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="#" target="_blank">
        <i class="fa fa-medium"></i>
      </a>
  
  </nav>
