<app-header></app-header>
<div class="alert alert-info bg-dark ">
    <div class="row text-white text-center">
        <a href="/home" class="btn btn-default text-white"><i class="fa fa-arrow-left"></i>&nbsp;Retour</a>
        <h2>Detail d'une faculte</h2>
        <a href="/faculties/update/{{faculte.id}}" class="btn btn-default text-white"> <i class="fa fa-pencil"></i>&nbsp;Modifier</a>
    </div>
</div>
<hr>
<div class="card-text"> 
    <div class="card text-center py-2 badge-info">
        <h5>Informations detail de la faculte</h5>
    </div>
    <table class="table table-bordered table-responsive-md">
        <tbody>
            <tr>
                <td>Nom </td>
                <td>{{faculte.name}}</td>
            </tr>
            <tr>
                <td>Sigle </td>
                <td>{{faculte.slug}}</td>
            </tr>
            <tr>
                <td>Email </td>
                <td>{{faculte.email}}</td>
            </tr>
            <tr>
                <td>Telephone </td>
                <td>{{faculte.telephone}}</td>
            </tr>
            <tr>
                <td>Adresse physique </td>
                <td>{{faculte.adressePhysique}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="card-text">
    <div class="card text-center py-2 badge-info">
                <h5> <a (click)="reload()" class="btn text-white"><i class="fa fa-refresh"></i>&nbsp;Actualise</a>    Liste des departements de cette faculte</h5>
                    
    </div> 
    <div class="card container-fluid p-3">
        <div  *ngIf="isListNull">
            <div class="alert alert-danger text-center">
                <p> <i class="fa fa-info-circle"></i> Aucun departement enregistrer pour cette faculte</p>
            </div>
            <div class="button">
                <h4>Ajouter des departements</h4>
                <form [formGroup] = "fileForm" (ngSubmit)="onSubmit()" >
                    <span class="alert alert-danger" *ngIf="message">{{message}}</span>
                    <div>
                        <label for="file">Ajouter a partir d'un fichier excel</label>
                      <input id="file" type="file" name="file" (change)="onFileSelect($event)" >
                    </div>
                    <button type="submit" class="btn btn-outline-secondary my-1" disabled *ngIf="message">Charger</button>
                    <button type="submit" class="btn btn-outline-secondary my-1"  *ngIf="!message">Charger</button>
                  </form>
            </div>
        </div>
        <div *ngIf="!isListNull">
            
                <div class="card-body row"  >
                    <div class="col-md-6 col-xl-4 col-sm-12 col-xs-12" *ngFor="let item of lists">
                        <a class="card btn btn-outline-secondary my-1" href="/departements/detail/{{item.id}}" style="border-radius: 10px; ;">
                            <div class="p-2 m-2">
                                <div class="card-title text-center">
                                    <span> {{item.name}}</span>
                                </div>
                                <div class="card-body text-left">
                                    <div class="card-text my-1 text-center">
                                        <span> 
                                         {{item.slug}}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
        </div>
    </div>
</div>
