<app-header></app-header>
<div class="alert alert-info bg-dark text-white text-center">
    <h2>Gestion des comptes utilisateurs</h2>
</div>
<div class="row">
    <div class="col-md-6 col-xl-9 col-sm-12  col-xs-12">
        <input type="text" class="form-control" [(ngModel)]="searchItem">
    </div>
    <div class="col-md-6 col-xl-1 col-xs-12 col-sm-12 my-2">
        <i class="fa fa-search"></i>
    </div>
    <div class="col-md-6 col-xl-2 col-sm-12  col-xs-12">
          <a href="/comptes/add" class="btn btn-outline-primary"> <i class="fa fa-plus"></i> Compte</a>
    </div>
</div>
<hr>
<div class="card-text">
    <div class="card text-center py-2 badge-info">
        <h5>Liste des comptes utilisateurs</h5>
    </div> 
    <table class="table table-bordered table-responsive-md">
        <thead class="bg-dark text-white">
            <th>Nom d'utilisateur</th>
            <th>Email</th>
            <th>Date d'ajout</th>
            <th>Fonction</th>
            <th>Etats</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of lists | filter:searchItem | paginate: {itemsPerPage: 10, currentPage: p}">
                <td>{{item.username}}</td>
                <td>{{item.email}}</td>
                <td>{{item.createdDate}}</td>
                <td>
                    {{item.fonction}}
                </td>
                <td *ngIf="item.active" class="alert alert-success">Actif</td>
                <td *ngIf="!item.active" class="alert alert-danger">Desactiver</td>
                <td>
                    <a (click)="activer(item.id)" *ngIf="item.active" class="btn btn-outline-danger m-2" >Desactiver?</a>
                    <a (click)="activer(item.id)" *ngIf="!item.active" class="btn btn-outline-success m-2" >Activer?</a>
                    <a href="/comptes/profile/{{item.id}}" class="btn btn-outline-primary">Voir le Profile</a>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
