<app-header></app-header>
<div class="alert alert-info bg-dark text-white text-center">
    <h2>Gestion des notes Etudiants</h2>
</div>
<div class="row">
    <div class="col-md-6 col-xl-6 col-sm-12  col-xs-12">
        <input type="text" class="form-control" [(ngModel)]="searchItem">
    </div>
    <div class="col-md-6 col-xl-2 col-xs-12 col-sm-12 my-2">
        <i class="fa fa-search"></i>
    </div>
    <div class="col-md-6 col-xl-4 col-sm-12  col-xs-12">
        <!-- <form [formGroup] = "fileForm" (ngSubmit)="onSubmit()" >
            <div>
                <label for="file">Ajouter a partir d'un fichier excel</label>
              <input id="file" type="file" name="file" (change)="onFileSelect($event)" >
            </div>
            <button type="submit" class="btn btn-outline-secondary my-1">Charger</button>
          </form> -->
    <a href="/notes/form/add" class="btn btn-outline-primary"> <i class="fa fa-plus"></i>&nbsp;Ajouter de nouvelles notes</a>
  </div>
</div>
<hr>
<div class="card-text">
    <div class="card text-center py-2 badge-info">
        <h5>Liste des etudiants</h5>
    </div> 
    <table class="table table-bordered table-responsive-md">
        <thead class="bg-dark text-white">
            <th>Nom Complet</th>
            <th>Email</th>
            <th>Matricule</th>
            <th>Date de naissance</th>
            <th>Sexe</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of lists | filter:searchItem | paginate: {itemsPerPage: 10, currentPage: p}">
                <td>{{item.name+' '+item.lastName+' '+item.firstName}}</td>
                <td>{{item.email}}</td>
                <td>{{item.matricule}}</td>
                <td>
                    {{item.birthDate}}
                </td>
                <th>{{item.sexe}}</th>
                
                <td>
                    <a href="/notes/etudiants/detail/{{item.id}}"  class="btn btn-outline-success" ><i class="fa fa-eye"></i> Voir</a>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
